<!DOCTYPE html>
<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("../partials/head") -%>

<!-- COMIENZO BODY -->
<body>
        <div class ="logowhatsapp">
            <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
        </div>

<%- include ("../partials/header") -%>
    <div class = "cajacelesteregistro"></div>
    <div class = "tituloregistro">
    <h2>Completa tus datos</h2>
    </div>
    <form class = "listadoregistro" action = "/users/<%=editUser.id %>/edit?_method=PATCH" method = "POST" enctype="multipart/form-data">
            <img class="imagenMV" src="/img/users/<%=editUser.image%>">
            <div class = "cajaregistro">
            <div class = "camposregistro">
                <label for="name">Nombre</label>
                <input class="ingresodato" value = "<%= editUser.name %>" type="text" id="name" name="name" required>
             </div> 
             <div class = "camposregistro">
                <label for="last_name">Apellido</label>
                <input class="ingresodato" value = "<%= editUser.last_name %>" type="text" id="last_name" name="last_name" required>
             </div> 
             <div class = "camposregistro">
                <label for="email">Email</label>
                <input class="ingresodato" value = "<%= editUser.email %>" type="email" id="email" name="email" required>
             </div>
             <div class = "camposregistro">
                <label for="password">Password</label>
                <input class="ingresodato" value = "<%= editUser.password %>" type="password" id="password" name="password" required>
             </div>  
             <div class = "camposregistro">
                <label for="phone">Telefono</label>
                <input class="ingresodato" value = "<%= editUser.phone %>" type="text" id="phone" name="phone" required>
             </div>
             <div class = "camposregistro">
                <label for="country">Pais</label>
                <input class="ingresodato" value = "<%= editUser.country %>" type="text" id="country" name="country" required>
             </div>  
            <div  class = "camposregistro" style ="display:flex; flex-direction:column">
                <label style="margin-bottom:7px" for="category">Categoria</label>
                <% if (editUser.category === "Administrador") { %> 
                <p><input type="radio" checked value="Administrador" name ="category"> Administrador</p>
                <p><input type="radio" value="Usuario" name ="category"> Usuario</p>
                <% } else { %>
                <p><input type="radio" value="Administrador" name ="category"> Administrador</p>
                <p><input type="radio" checked value="Usuario" name ="category"> Usuario</p>
                <% } %>
            </div> 
        </div>
            <div class ="cajabotones">

                <div>
                    <input type="submit" value="Guardar" class = "boton">
                </div>            
                <input type="button" onclick= "document.getElementById('imageInput').click()" value="Editar foto de Perfil" class ="botonEditImage" />
                <input type="file" id="imageInput" name = "image"/>
                <form action="/users/<%= editUser.id %>?_method=DELETE" method="POST">
                    <button type="submit" class = "boton">Eliminar perfil</button>
                </form>
            </div> 
                       
    </form>
 
    <!-- COMIENZO FOOTER -->

<%- include ("../partials/footer") -%>

    </body>
</html>
