<!DOCTYPE html>
<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("../partials/head") -%>

<body>
    <div class ="logowhatsapp">
        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
    </div>

<!-- COMIENZO HEADER -->
<%- include ("../partials/header") -%>

        <main>
            <div>
            <div class = "fotosyprecio_detalle">
            <div class = "fotos_detalle_producto">
                <div class = "foto_detalle_producto_principal">
                    <img class="principal" src="/img/<%=product.image%>">
                </div>
                <div class = "foto_detalle_producto_secundarias">
                    <img class="secundaria" src="/img/<%=image.image2%>">
                    <img class="secundaria" src="/img/<%=image.image3%>">
                    <img class="secundaria" src="/img/<%=image.image4%>">
                </div>
            </div>  
            <section class ="cajaprecio_detalle">
                <div class ="titulo_detalle_producto">
                    Dell Alienware mx17 | 16gb RAM | 256gb SSD | Win10 | 17" 
                </div>
                <div class = "codigo_detalle_producto">
                    Cod. 123445552-53
                </div>
                <div class = "status_stock">
                    No hay stock
                </div>
                <div class = "precio">
                    Precio: ARS 657.000
                </div>
                <div class = "botones_detalle">
                    <button class = "boton_detalle_prod">Comprar Ahora</button>
                    <button class = "boton_detalle_prod">Agregar al carrito</button>
                </div>
            </section>
            </div>
            <div class = "detalleymarcas">
            <section class ="detallecompleto">
                <div class="encabezado_contenido_detalle_prod">
                    <div class = "solapas_contenido_detalle_prod">Descripción</div>
                    <div class = "solapas_contenido_detalle_prod">Opcionales</div>
                    <div class = "solapas_contenido_detalle_prod">Aplicaciones</div>
                </div>
                <div class ="contenido_detalle">
                    <div class = "titulos_contenido_detalle_prod">PROCESADOR
                    </div>
                    <div class = "contenido_detalle_prod">
                        Marca: AMD / Modelo: A4 9120E <br>
                        Núcleos: 2 / Frecuencia: 2.2GHz <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">GRÁFICOS
                    </div>
                    <div class = "contenido_detalle_prod">
                        Marca: AMD Radeon / Modelo: R3 <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">MEMORIA
                    </div>
                    <div class = "contenido_detalle_prod">
                        Capacidad: 4GB / Tipo: DDR4 SODIMM <br>
                        Expansión: No <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">ALMACENAMIENTO
                    </div>
                    <div class = "contenido_detalle_prod">
                        Capacidad: 64GB / Clase: SSD eMMC <br>
                        Puerto M2: No <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">PANTALLA
                    </div>
                    <div class = "contenido_detalle_prod">
                        Tamaño: 14 / Resolución: 1366x768<br>
                    </div>
                    
                    <div class = "titulos_contenido_detalle_prod">CONECTIVIDAD
                    </div>
                    <div class = "contenido_detalle_prod">
                        WiFi: Si, AC / Bluetooth: Si, 4.2 <br>
                        HDMI: Si / Red: No <br>
                        USB 3.1: 2 <br>
                        Grabadora DVD: No / Lector Memorias: Si <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">SISTEMA OPERATIVO
                    </div>
                    <div class = "contenido_detalle_prod">
                        OS: Windows 11 Home<br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">OTRAS ESPECIFICACIONES
                    </div>
                    <div class = "contenido_detalle_prod">
                        Color: Ice Blue / WebCam: Si, 0.3MP <br>
                        Teclado: Español / Pad Numérico: Si<br>
                        Dimensiones: 23.50cm Profundidad, 32.71cm Ancho, 1.88cm Alto<br>
                        Peso: 1.40Kg / Modelo: 81VS000GAR<br>
                        Batería: 35Wh / Garantía: 12 Meses Lenovo Oficial<br>
                    </div>
                </div>                      
            </section> 
            <section class = "marcas">
                    <img class="logomarcas" src="/img/Alienware-Logo-1.png">
                    <img class="logomarcas" src="/img/radeonlogo.jfif">
                    <img class="logomarcas" src="/img/windows11logo.png">
            </section>
            </div>
            </div>
        </main>

    <!-- COMIENZO FOOTER -->

    <%- include ("../partials/footer") -%>

    </body>
</html>
