<!DOCTYPE html>
<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("../partials/head") -%>

<body>
    <div class ="logowhatsapp">
        <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
    </div>

<!-- COMIENZO HEADER -->
<%- include ("../partials/header") -%>

        <main>
            <div>
            <div class = "fotosyprecio_detalle">
            <div class = "fotos_detalle_producto">
                <div class = "foto_detalle_producto_principal">
                    <img class="principal" src="/img/products/<%=product.imagesproduct.mainImage%>">
                </div>
                <div class = "foto_detalle_producto_secundarias">
                    <img class="secundaria" src="/img/products/<%=product.imagesproduct.image2%>">
                    <img class="secundaria" src="/img/products/<%=product.imagesproduct.image3%>">
                    <img class="secundaria" src="/img/products/<%=product.imagesproduct.image4%>">
                </div>
            </div>  
            <section class ="cajaprecio_detalle">
                <div class ="titulo_detalle_producto">
                    <%=product.brand.brand%> <%=product.brand.serie%> <%=product.brand.model%> | <%=product.memory%> 
                </div>
                <div class = "codigo_detalle_producto">
                    
                </div>
                 <div class = "precio">
                    Precio: ARS <%=toThousand(product.price)%>
                </div>
                <% if (locals.isLogged && session.userLogged.id_category == 2) { %>
                <div class = "botones_detalle">
                    <a href = "/products/<%=product.Id%>/editImage"><button class = "boton">Editar Imagenes</button></a>
                    <a href = "/products/<%=product.Id%>/edit"><button class = "boton">Editar Producto</button></a>
                    <form action="/products/<%= product.Id %>?_method=DELETE" method="POST">
                        <button type="submit" class = "boton">Eliminar</button>
                    </form>
                </div>
                <% } %>
            
            </section>
            </div>
            <div class = "detalleymarcas">
            <section class ="detallecompleto">
                <div class="encabezado_contenido_detalle_prod">
                    <div class = "solapas_contenido_detalle_prod">Descripción</div>
                    <div class = "solapas_contenido_detalle_prod">Opcionales</div>
                    <div class = "solapas_contenido_detalle_prod">Aplicaciones</div>
                </div>
                <div class ="contenido_detalle">
                    <div class = "titulos_contenido_detalle_prod">PROCESADOR
                    </div>
                    <div class = "contenido_detalle_prod">
                       
                    </div>

                    <div class = "titulos_contenido_detalle_prod">GRÁFICOS
                    </div>
                    <div class = "contenido_detalle_prod">
                       </div>

                    <div class = "titulos_contenido_detalle_prod">MEMORIA
                    </div>
                    <div class = "contenido_detalle_prod">
                       </div>

                    <div class = "titulos_contenido_detalle_prod">ALMACENAMIENTO
                    </div>
                    <div class = "contenido_detalle_prod">
                        </div>

                    <div class = "titulos_contenido_detalle_prod">PANTALLA
                    </div>
                    <div class = "contenido_detalle_prod">
                       </div>
                    
                    <div class = "titulos_contenido_detalle_prod">CONECTIVIDAD
                    </div>
                    <div class = "contenido_detalle_prod">
                        WiFi: Si, AC / Bluetooth: Si, 4.2 <br>
                        HDMI: Si / Red: No <br>
                        USB 3.1: 2 <br>
                        Grabadora DVD: No / Lector Memorias: Si <br>
                    </div>

                    <div class = "titulos_contenido_detalle_prod">SISTEMA OPERATIVO
                    </div>
                    <div class = "contenido_detalle_prod">
                       </div>

                    <div class = "titulos_contenido_detalle_prod">OTRAS ESPECIFICACIONES
                    </div>
                    <div class = "contenido_detalle_prod">
                        Color: <%=product.color%> / WebCam: Si, 0.3MP <br>
                        Teclado: Español / Pad Numérico: Si<br>
                        Modelo: <br>
                        Aplicacion: <%=product.computerCategory%><br>
                    </div>
                </div>                      
            </section> 
            <section class = "marcas">
                    <img class="logomarcas" src="/img/Alienware-Logo-1.png">
                    <img class="logomarcas" src="/img/radeonlogo.jfif">
                    <img class="logomarcas" src="/img/windows11logo.png">
            </section>
            </div>
            </div>
        </main>

    <!-- COMIENZO FOOTER -->

    <%- include ("../partials/footer") -%>

    </body>
</html>
