<!DOCTYPE html>
<html>
<!-- COMIENZO DEL HEAD -->

<%- include ("../partials/head") -%>

<!-- COMIENZO BODY -->
<body>
        <div class ="logowhatsapp">
            <img src="/img/whatsapp-logo.svg"  alt="Whatsapp" class ="logosredes"/>
        </div>

<%- include ("../partials/header") -%>
    <div class = "cajacelesteregistro"></div>
    <div class = "tituloregistro">
    <h2>Completa tus datos</h2>
    </div>
    <form class = "listadoregistro" action = "/products/<%=product.Id %>?_method=PATCH" method = "POST">
            <div class = "cajaregistro">
            <div class = "camposregistro">
                <label for="marca">Marca</label><br>
                <input class="ingresodato" value = "<%= product.brand.brand %>" type="text" id="marca" name="marca" required>
             </div>        
            <div class = "camposregistro">
                <label for="serie">Serie</label><br>
                <input class="ingresodato" value = "<%= product.brand.serie %>" type="text" id="serie" name="serie" required>
            </div> 
            <div class = "camposregistro">
                <label for="modelo">Modelo</label><br>
                <input class="ingresodato" value = "<%= product.brand.model %>" type="text" id="modelo" name="modelo" required>
            </div>
            <div class = "camposregistro">
                <label for="descripcion">Descripcion</label><br>
                <input class="ingresodato" placeholder = "<%= product.description %>" type="text" id="descripcion" name="descripcion">
            </div> 
            <div class = "camposregistro">
                <label for="procesador">Procesador</label><br>
                <input class="ingresodato" value = "<%= product.processor %>" type="text" id="procesador" name="procesador">
            </div>
            <div class = "camposregistro">
                <label for="graficos">Gráficos</label><br>
                <input class="ingresodato" value = "<%= product.graphics %>" type="text" id="graficos" name="graficos">
            </div> 
            <div class = "camposregistro">
                <label for="memoria">Memoria</label><br>
                <input class="ingresodato" value = "<%= product.memory %>" type="text" id="memoria" name="memoria">
            </div> 
            <div class = "camposregistro">
                <label for="almacenamiento">almacenamiento</label><br>
                <input class="ingresodato" value = "<%= product.storage %>" type="text" id="almacenamiento" name="almacenamiento">
            </div> 
            <div class = "camposregistro">
                <label for="sistemaOperativo">Sistema Operativo</label><br>
                <input class="ingresodato" value = "<%= product.operativeSystem %>" type="text" id="sistemaOperativo" name="sistemaOperativo">
            </div> 
            <div class = "camposregistro">
                <label for="pantalla">Pantalla</label><br>
                <input class="ingresodato" value = "<%= product.screenSize %>" type="text" id="pantalla" name="pantalla">
            </div> 
            <div class = "camposregistro">
                <label for="color">Color</label><br>
                <input class="ingresodato" value = "<%= product.color %>" type="text" id="color" name="color">
            </div> 
            <div class = "camposregistro">
                <label for="precio">Precio</label><br>
                <input class="ingresodato" value = "<%= product.price %>" type="text" id="precio" name="precio">
            </div> 
            <div  class = "camposregistro" style ="display:flex; flex-direction:column">
                <label style="margin-bottom:7px" for="slotExpansion">Posee Slot de expansion</label>
                <% if (product.expansionSlot === "Si") { %> 
                <p><input type="radio" checked value="Si" name ="slotExpansion"> Si</p>
                <p><input type="radio" value="No" name ="slotExpansion"> No</p>
                <% } else { %>
                <p><input type="radio" value="Si" name ="slotExpansion"> Si</p>
                <p><input type="radio" checked value="No" name ="slotExpansion"> No</p>
                <% } %>
            </div> 
             <div  class = "camposregistro" style ="display:flex; flex-direction:column">
                <label style="margin-bottom:7px" for="slotExpansion">Categoria</label>
                <% if (product.computerCategory === "Gaming") { %> 
                <p><input type="radio" checked value="Gaming" name ="category"> Gaming</p>
                <p><input type="radio" value="Business" name ="category"> Business</p>
                <p><input type="radio" value="Home" name ="category"> Home</p>
                <p><input type="radio" value="Industrial" name ="category"> Industrial</p>
                <% } else if (product.computerCategory === "Business") { %>
                <p><input type="radio" value="Gaming" name ="category"> Gaming</p>
                <p><input type="radio" checked value="Business" name ="category"> Business</p>
                <p><input type="radio" value="Home" name ="category"> Home</p>
                <p><input type="radio" value="Industrial" name ="category"> Industrial</p>
                <% } else if (product.computerCategory === "Home") { %>
                <p><input type="radio" value="Gaming" name ="category"> Gaming</p>
                <p><input type="radio" value="Business" name ="category"> Business</p>
                <p><input type="radio" checked value="Home" name ="category"> Home</p>
                <p><input type="radio" value="Industrial" name ="category"> Industrial</p>
                <% } else { %>
                <p><input type="radio" value="Gaming" name ="category"> Gaming</p>
                <p><input type="radio" value="Business" name ="category"> Business</p>
                <p><input type="radio" value="Home" name ="category"> Home</p>
                <p><input type="radio" checked value="Industrial" name ="category"> Industrial</p>
                <% } %>
            </div> 
        </div>
        
        
            <div class ="cajabotones">

                <div>
                    <input type="submit" value="Enviar" class = "boton">
                </div>
                
                <div>
                    <a href = "/products/<%=product.Id%>/editImage"><button class = "boton">Editar Imagenes</button></a>
                </div>
               
                <div>
                    <a href = "/products/<%=product.Id%>"><button class = "boton">Regresar</button></a>
                </div>
                </div> 
                       
    </form>
 
    <!-- COMIENZO FOOTER -->

<%- include ("../partials/footer") -%>

    </body>
</html>
